
# Database https://neon.com/
DATABASE_URL="your_pg_neon_db_connection"

# Better Auth https://www.better-auth.com/
BETTER_AUTH_SECRET="your_better_auth_secret"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app

# Google Generative AI https://aistudio.google.com/
GOOGLE_GENERATIVE_AI_API_KEY="your_google_generative_ai_api_key"

# OpenAI https://platform.openai.com/
OPENAI_API_KEY="your_openai_api_key"

# Anthropic https://console.anthropic.com/
ANTHROPIC_API_KEY="your_anthropic_api_key"
