
# Database https://neon.com/
DATABASE_URL="your_pg_neon_db_connection"

# Better Auth https://www.better-auth.com/
BETTER_AUTH_SECRET="your_better_auth_secret"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
